<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>ex-12-output</title>
  </head>
  <body>
    <h3>結果</h3>
    名前 : <span th:text="${member.name}"></span><br>
    年齢 : <span th:text="${member.age}"></span><br>
    所持金 : <span th:text="${member.money}"></span>円<br>
    コメント : <span th:text="${member.comment}"></span><br>

    <!-- <h3>結果</h3>
    名前 : <span th:text="${name}"></span>
    年齢 : <span th:text="${age}"></span>
    所持金 : <span th:text="${money}"></span><br>
    コメント : <span th:text="${comment}"></span><br> -->
  </body>

</html>

