<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>ex-17-input</title>
  </head>
  <body>
    <h3>アンケートフォーム</h3>
    <form th:action="@{/ex17/create}" th:object="${ex17Form}" method="post">
      <div th:errors="*{name}" style="color:red">エラー！</div>
      名前 : <input type="text" name="name"><br>
      <div th:errors="*{mail}" style="color:red">エラー！</div>
      メール : <input type="text" name="mail"><br>
      <div th:errors="*{sexList}" style="color:red">エラー！</div>
      性別 : <span th:each="sex : ${sexMap}">
        <input type="radio" name="sexList" th:value="${sex.key}" th:text="${sex.value}">
      </span><br>
      <div th:errors="*{languageList}" style="color:red">エラー！</div>
        好きな言語 : <br>
        <select name="languageList" id="">
          <span th:each="lang : ${languageMap}">
            <option th:value="${lang.key}" th:text="${lang.value}"></option>
          </span>
        </select><br>
      <div th:errors="*{hobbyList}" style="color:red">エラー！</div>
      趣味 : <br>
      <span th:each="hobby : ${hobbyMap}">
        <input type="checkbox" name="hobbyList" th:value="${hobby.key}" th:text="${hobby.value}">
      </span><br>
      <div th:errors="*{comment}" style="color:red">エラー！</div>
      その他 : <br>
      <textarea name="comment" id="comment" cols="30" rows="4"></textarea><br>
      <button>送信</button>
    </form>
  </body>
</html>